pre {
    @apply my-4 overflow-x-auto;
}

pre code.torchlight {
    @apply block py-4 min-w-max;
}

pre code.torchlight .line {
    @apply px-4 leading-loose;
}

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-1;
}

.tabbed-code {
    @apply my-5 bg-dark-500 rounded-md overflow-hidden;

    .tabbed-code-nav {
        @apply flex px-2 pt-2;

        .tabbed-code-nav-button {
            @apply px-3 pt-3 pb-2 rounded-t text-sm text-gray-300;

            &[data-tab="Vue"],
            &[data-tab="React"] {
                @apply pl-9;
                background-size: 1rem;
                background-repeat: no-repeat;
                background-position: 0.75rem center;
            }

            &[data-tab="Vue"] {
                background-image: url('../images/icons/vue.svg');
            }

            &[data-tab="React"] {
                background-image: url('../images/icons/react.svg');
            }

            &.active {
                background-color: #292D3E;
            }
        }
    }

    .tabbed-code-body {
        background-color: #292D3E;

        .code-container {
            @apply m-0 rounded-none hidden;

            &.active {
                @apply block;
            }
        }
    }
}

.code-container {
    @apply my-5 rounded-md overflow-hidden;

    .code-container-filename {
        @apply flex items-center px-4 pb-2 pt-3 text-sm font-mono border-b border-dark-500 text-gray-600;
        background-color: #292D3E;
        background-size: 1.25rem;
        background-position: 12px center;
        background-repeat: no-repeat;
        &:before {
            @apply block w-4 h-4 mr-1 bg-gray-700;
            content: '';
            mask-image: url('../images/icons/document.svg');
            mask-repeat: no-repeat;
            mask-size: 100%
        }
    }

    pre {
        @apply m-0 rounded-none;
    }
}
