.docs_sidebar {
    ul {
        li {
            @apply block whitespace-nowrap py-[0.65em];

            h2 {
                @apply mb-4 text-sm text-gray-900 dark:text-gray-400 font-medium;
            }

            a {
                @apply block text-sm text-gray-900 dark:text-gray-400 font-medium ease-in-out duration-300;

                &:hover {
                    @apply translate-x-1;
                }
            }
        }

        ul {
            li {
                a {
                    position: relative;
                    padding-left: 1em;
                    font-weight: 400;
                    line-height: 1.25;

                    &.active::before {
                        content: "";
                        position: absolute;
                        top: .25em; left: 0;
                        width: .5rem; height: .5rem;
                        background: url(../images/icons/active_marker.min.svg) no-repeat center;
                    }
                }
            }
        }

        .sub--on {
            &> h2 {
                margin-bottom: 1em;
            }

            ul {
                max-height: none;
            }
        }
    }
}
