@import "tailwindcss/base";

@import "tailwindcss/components";

@import '_code.css';
@import '_sidebar-layout.css';

@import "tailwindcss/utilities";

/* Color mode buttons */
#header__sun, #header__moon, #header__indeterminate { display: none; }
html[color-theme="dark"] #header__moon { display: block; }
html[color-theme="light"] #header__sun { display: block; }
html[color-theme="system"] #header__indeterminate { display: block; }

/* Subtle red background gradient */
.bg-radial-gradient {
    background-image: radial-gradient(50% 50% at 50% 50%, #EB4432 0%, rgba(255, 255, 255, 0) 100%);
}

/* Heading permalinks */
h2:hover .heading-permalink,
h3:hover .heading-permalink,
h4:hover .heading-permalink,
h5:hover .heading-permalink,
h6:hover .heading-permalink,
.heading-permalink:focus {
    opacity: 1;
}

.heading-permalink {
    opacity: 0;
    transform: translate(-100%);
    position: absolute;
    padding-right: 10px;
    text-decoration: none;
}

/* Red heading numerals */
h1 b {
    @apply text-red-600;
    font-weight: inherit;
}

/* Responsive tables */
table {
    @apply block max-w-full overflow-auto;
}
