@import "tailwindcss/base";

@import "tailwindcss/components";

@import '_code.css';
@import '_sidebar-layout.css';

@import "tailwindcss/utilities";

/* Color mode buttons */
#header__sun, #header__moon, #header__indeterminate { display: none; }
html[color-theme="dark"] #header__moon { display: block; }
html[color-theme="light"] #header__sun { display: block; }
html[color-theme="system"] #header__indeterminate { display: block; }
